body, html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* header */

 .header {
    
    padding: 120px;
    text-align: center;
    background: black;
    color: white;
    font-size: 30px;
    
  }

.button {
  position: absolute;
  top: 5%;
  left: 78%;
}

h1 {
  font-size: 2em;
  /*font-family: serif;*/
  color: black;
  text-align: center;
  animation: effect 2s linear infinite;
  font-family: 'Source Code Pro', monospace;
  
}

h2 {
  font-size: 2em;
  font-family: serif;
  color: transparent;
  text-align: center;
  animation: effect 2s linear infinite;
}

.jp {
  position: absolute;
  top: 10%;
  left: 5%;
}

.dwfs {
  position: absolute;
  top: 15%;
  right: 5%;
}
/* main */



/*main {
  background: red;
  display: block;
  width : auto;
  height: 55%;
}*/


/* footer */

.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }

  .propos {
    text-align: left;
    font-size: 20px;
  }

  .compétences {
    text-align: left;
    font-size: 20px;
  }

  .contact {
    text-align: left;
    font-size: 20px;
  }

    .copyright {
    text-align: left;
    font-size: 20px;
  }